<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1*2</h1>
    <h3> <%= ["hello", "hi", "namaste"] [2]%> </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam qui quam labore illum eos eligendi ipsum eum esse voluptas vero. Suscipit error ipsa quibusdam asperiores veniam mollitia sint, qui libero.
        Dolorem illo dolores quidem alias atque eum placeat sunt! Perspiciatis eligendi accusantium optio nobis autem rem voluptate non excepturi nesciunt sapiente, obcaecati amet debitis aut, repudiandae libero dolores velit tempore?
        Eveniet, exercitationem. Molestias labore commodi ullam assumenda illum corporis nam nostrum, recusandae vel nisi maiores, explicabo, quos voluptatem id? Doloribus optio itaque nostrum soluta fuga! Dolore atque eaque odit. Delectus!
        Fugit distinctio possimus dolorum voluptatem, at, similique ex qui quidem velit ad pariatur officiis tempore rerum nihil praesentium hic explicabo. Fuga, inventore porro et quo eum a ipsum nam repudiandae.
        Asperiores sit sequi ipsa suscipit reiciendis, deleniti laudantium placeat explicabo error cumque quasi, itaque beatae temporibus saepe eius consectetur debitis quae facere amet similique blanditiis! Repellendus laborum voluptatibus nihil porro.
    </p>
    <button>Click me!</button>
</body>
</html>